/* estilos comunes a toda la aplicacion ; cada componente tendra el suyo especifico */

.container{
    margin-top: 2em;
    border: 2px solid #ddd;
    padding: 2em;
}

/* estilos comunes todaslas vistas de todos los componentes */
.caja{
    margin-top: 3em;
    padding: 2em;
}

h1{
    font-size: 2em;
}

h2{
    font-size: 1.5em;
}


