<div class="row justify-content-md-center">  

  <div class="col-10 col-md-9">    

    <h2 class="text-success text-center">Añadir nuevo presupuesto</h2>

    <form class="row">

      <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <label for="proveedor">Provvedor</label>
        <input  type="text"  class="form-control"  id="proveedor" >
      </div>

      <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <label for="fecha">Fecha</label>
        <input  type="date"  class="form-control"  id="fecha"  >
      </div>

      <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <label for="concepto">Concepto</label>
        <input  type="text"  class="form-control"  id="concepto" >
      </div>

      <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <label for="baseimponible">Base Imponible</label>
        <input  type="number"  class="form-control"  id="baseimponible" >
      </div>

      <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <label for="tipoiva">Tipo de IVA</label>
        <select  class="form-control"  id="tipoiva" >
          <option  value="">-- Tipo IVA --</option>
          <option  value=0>0</option>
          <option  value=0.04>4</option>
          <option  value=0.10>10</option>
          <option  value=0.21>21</option>
        </select>
      </div>   
        
      <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
        <label for="total">Total Presupuesto</label>
        <input  type="number"  class="form-control"  id="total" >
      </div>

      <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">      
        <button type="submit" class="btn btn-success" >
          Añadir Presupuesto
        </button>
      </div>

    </form>

    <hr>

  </div> 

</div>
  
  