
<!-- barra de navegacion -->

<!-- routerLink : se usa en lugar de href -->
<!-- routerLinkActive : si el link esta activo añade la clase 'active' de bootstrap al link -->
<!-- [routerLinkActiveOptions]="{exact:true} : marca el link como activo cuando se este en esa ruta -->
<!-- *ngIf="isAuth() : comprueba si el usuario tiene iniciada la sesion o no para gestionar la vissualizacion de los links -->

<nav class="navbar bg-info  navbar-toggleable-md">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon">
            <i class="fas fa-bars"></i>
        </span>
    </button>

    <a class="navbar-brand" href="#">Compras App</a>

    <div class="collapse navbar-collapse" id="containerNavbar">  

      <ul class="navbar-nav mr-auto w-100 justify-content-end">

        <li class="nav-item" routerLinkActive="active"  [routerLinkActiveOptions]="{exact:true}"  *ngIf="isAuth()" >
          <a class="nav-link" routerLink="/inicio">Inicio </a>
        </li>

        <li class="nav-item" routerLinkActive="active"  *ngIf="isAuth()" >
          <a class="nav-link" routerLink="/inicio/proveedores">Proveedores</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="isAuth()" >
          <a class="nav-link" routerLink="inicio/listpresupuestos">Presupuestos</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="isAuth()">
          <a class="nav-link" routerLink="inicio/facturas">Facturas</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="!isAuth()">
          <a class="nav-link" routerLink="/login">Iniciar Sesi&oacute;n</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="isAuth()">
            <button class="btn btn-success" (click)="onLogout()">Cerrar Sesi&oacute;n</button>
        </li>

      </ul>

  </div>

</nav>