<!-- para el spinner -->

<div  class="text-center"  *ngIf="cargando">

    <img src="../../../assets/imgs/loader.gif" alt="">

  </div>

<div *ngIf="!cargando" class="text-center">

  <h3 class="text-success">LISTADO</h3>

  <a class=" btn btn-success float-left" routerLink="addproveedores">A&ntilde;adir Proveedor</a>

  <div  class="table-responsive">

    <table class="table table-bordered">

      <thead>

        <tr class="filters bg-info">

          <th class="text-center">Nombre</th>
          <th class="text-center">Correo</th>
          <th class="text-center">Tel&eacute;fono</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let proveedor of proveedores">

          <td> {{ proveedor.nombre }} </td>
          <td> <a href="mailto:{{ proveedor.email }}"> {{ proveedor.email }} </a> </td>
          <td> {{ proveedor.telefono}} </td>

        </tr>

      </tbody>

    </table>

  </div>

  <hr>

</div>
