<div class="text-center">

  <hr>

  <h3 class="text-primary">LISTADO</h3>

  <div class="table-responsive">

    <table class="table table-bordered">

      <thead>

        <tr class="filters bg-primary">

          <th class="text-center">Nombre</th>
          <th class="text-center">Correo</th>
          <th class="text-center">Tel&eacute;fono</th>

        </tr>

      </thead>

      <tbody>

        <tr *ngFor="let proveedor of proveedores">

          <td> {{ proveedor.nombre }} </td>
          <td> <a href="mailto:{{ proveedor.email }}"> {{ proveedor.email }} </a> </td>
          <td> {{ proveedor.telefono}} </td>

        </tr>

      </tbody>

    </table>

  </div>

  <hr>

</div>
