<!-- es la plantilla del componente : lo que queremos que se nos vea en nuestro componente -->

<div class="caja cajaEjemploMetodo"> 

  <h1 class="text-danger">COMPONENTE EJEMPLOMETODO</h1>

  <h2 class="text-success">La puntuaci&oacute;n obtenida es : {{ getPuntuacion() }} </h2>

  <!-- PIPE NUMBER:  | number: '3.2-2'   : formatea la salida del numero dandole tres numeros a la parte entera y dos a la decimal -->

  <h1 class="text-danger">PIPE NUMBER</h1>  

  <h2 class="text-success">La puntuaci&oacute;n obtenida formateada es : {{ getPuntuacion() | number: '3.2-2' }} </h2>

  <!-- PIPE CURRENCY   :   PARA MONEDAS   -->

  <h1 class="text-danger">PIPE CURRENCY</h1>  

  <h2 class="text-success">Euros : {{ getPuntuacion() | currency: 'EUR' }} </h2>

  <!-- PIPE EURO   :   CREADO POR NOSOTROS   -->

  <h1 class="text-danger">PIPE CREADO POR NOSOTROS</h1>  

  <h2 class="text-success">Euros : {{ getPuntuacion() | euro }} </h2>
    
</div> 
