<!-- es la plantilla del componente : solo que queremos que se nos vea en nuestro componente -->

<div class=" cajaModulo text-center"> 

  <h1 class="text-primary">MODULO</h1>

  <div class="caja cajaApp">

    <h1 class="text-danger">COMPONENTE APP</h1>

    <!-- {{ title }} ,  {{ destino }}: renderiza los valores que tienen las variables del componente  -->
    <h2 class="text-success">Bienvenid@  {{ title }}!</h2>
    <h2 class="text-success">Tu destino es : {{ destino }}</h2>  
    
  </div>

  <!-- añado mis componentes -->
  <app-fechaactual></app-fechaactual>
  <app-copyright></app-copyright>
  <app-viewmodel></app-viewmodel>
  <app-ejemplometodo></app-ejemplometodo>
  <app-ejemplopropertybinding></app-ejemplopropertybinding>

</div>




