<!-- es la plantilla del componente : solo que queremos que se nos vea en nuestro componente -->

<div class=" cajaModulo text-center"> 

  <h1 class="text-primary">MODULO</h1>

  <div class="caja cajaApp">

    <h1 class="text-danger">COMPONENTE APP</h1>

    <!-- {{ nombre }} ,  {{ destino }}: renderiza los valores que tienen las variables del componente  -->
    <!-- PIPE i18nSelect : nos muestra bienvenia o bienvenido en funcion del atributo sexo y encabezamiento -->
    
    <h2 class="text-success">{{ sexo | i18nSelect : encabezamiento }} {{ nombre }}!</h2>
    <h2 class="text-success">Tu destino es : {{ destino }}</h2>
    
     <!-- PIPE UPPERCASE Y LOWERCASE : -->
     
    <h1 class="text-danger">PIPE UPPERCASE / LOVERCASE</h1>
    <h2 class="text-success">UPPERCASE : {{ destino | uppercase }}</h2>
    <h2 class="text-success">LOVERCASE : {{ destino | lowercase }}</h2>   
    
  </div>

  <!-- añado mis componentes -->
  <app-fechaactual></app-fechaactual>
  <app-copyright></app-copyright>
  <app-viewmodel></app-viewmodel>
  <app-ejemplometodo></app-ejemplometodo>
  <app-ejemplopropertybinding></app-ejemplopropertybinding>
  <app-ejemploeventbinding></app-ejemploeventbinding>
  <app-ejemplo2waybinding></app-ejemplo2waybinding>
  <app-ejemplodirectivangif></app-ejemplodirectivangif>
  <app-ejemploifelseconmetodo></app-ejemploifelseconmetodo>
  <app-ejemplodirectivangstyle></app-ejemplodirectivangstyle>
  <app-ejemplodirectivangnclass></app-ejemplodirectivangnclass>
  <app-ejemplodirectivangnfor></app-ejemplodirectivangnfor>
  <app-ejemplodirectivangnforconobjetos></app-ejemplodirectivangnforconobjetos>
  <app-ejemplodirectivangnswitch></app-ejemplodirectivangnswitch>  
  <app-midirectiva></app-midirectiva>
  <app-padre></app-padre>
  
</div>




