<div class="row justify-content-md-center">  

    <div class="col-10 col-md-9">    

      <h2 class="text-success text-center">Añadir nuevo proveedor</h2>

      <!-- (ngSubmit)="enviarFormulario()"  : cuando se envie el formulario se ejecuta la funcion enviarFormulario() -->

      <!-- #formProveedores : id del objeto formulario -->
      <!-- el objeto que se crea en el formulario ( procesado por ngForm )-->

      <!-- los campos ( inputs ) del formulario, tienen que ser identificados como atributos del objeto formulario -->
      <!-- para ello, se añade a todos los inputs del formulario 'ngModel' y tamnien un name -->

      <form class="row" (ngSubmit)="enviarFormularioProveedores()" #formProveedores="ngForm">

        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <label>Nombre</label>
          <input  type="text"  class="form-control"  id="nombre"  name="nombre"  ngModel>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <label>C.I.F.</label>
          <input  type="text"  class="form-control"  id="cif"  name="cif"  ngModel>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">       
          <label>Dirección</label>
          <input  type="text"  class="form-control"  id="direccion"  name="direccion"  ngModel>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <label>Código Postal</label>
          <input  type="text"  class="form-control"  id="cp"  name="cp" ngModel>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <label>Localidad</label>
          <input  type="text"  class="form-control"  id="localidad"   name="localidad"  ngModel>
        </div>

        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <label>Provincia</label>
          <select  class="form-control"  id="provincia"  name="provincia"  ngModel>
            <option  value="">-- Provincia --</option>
            <option  *ngFor="let provincia of provincias"  [value]="provincia"> {{ provincia }}</option>
          </select>
        </div>       
        
        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <label>Teléfono</label>
          <input type="number"  class="form-control"  id="telefono"  name="telefono"  ngModel>
        </div>


        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">

          <label>Correo Electrónico</label>

          <!-- mensaje de validacion correcta -->
          <i class="fa fa-check-circle check" *ngIf="email.valid" > </i>

          <!-- mensaje de validacion incorrecta -->
          <i class="fa fa-exclamation-circle uncheck" *ngIf="email.invalid && email.touched" ></i>

          <input type="text" class="form-control"  id="email"  name="email" ngModel required email  #email="ngModel">

          <p class="alert alert-danger" *ngIf="email.invalid && email.touched" >Introduzca un email v&aacute;lido.</p>
        
        </div>


        <div class="form-group col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
          <label>Persona de contacto</label>
          <input type="text"  class="form-control"  id="contacto"  name="contacto"  ngModel>
        </div>

        <div class="form-group col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">

          <!-- muestro el boton de envio de formmulario desabilitado si no está totalmente completo -->
          <!-- lo mostrara habilitado cuando tenga los campos rellenos -->
          <button type="submit" class="btn btn-success" [disabled]="!formProveedores.valid">
            Añadir Proveedor
          </button>

        </div>

      </form>

      <!-- comprobamos que nos añade el objeto al enviar el formulario -->

      <hr>

      <pre>
        {{ proveedor | json }}
      </pre>

      <hr>

      <h4> El estado dirty: {{ formProveedores.controls.email.dirty }} </h4>
      <h4> El estado pristine: {{ formProveedores.controls.email.pristine }} </h4>
      <h4> El estado touched: {{ formProveedores.controls.email.touched }} </h4>
      <h4> El estado valid: {{ formProveedores.controls.email.valid }} </h4>
      <h4> El estado invalid: {{ formProveedores.controls.email.invalid }} </h4>

      <hr>

    </div> 

  </div>
  
  