/* estilos comunes a todos los componentes de la aplicacion */

/* tipografia para todos los elementos de la aplicacion */

*{
    font-family: 'Raleway', sans-serif;
}

/* estilos para .container  */

.container{

    width: 100%;
    padding: 2em;
    margin: 0;    
}

/*estilos para los titulos */

h2{
    font-size: 1.8em; 
}

h3{
    font-size: 1.5em;   
}

h2,
h3{
    font-weight: bold;
    padding-bottom: 2em;
}

/* estilos para la tabla */

.table{
    background-color: #fff;
    margin-bottom: 4em;
}

tr th {
    color: #fff;
}

