<!-- es la plantilla del componente : lo que queremos que se nos vea en nuestro componente -->
  
<div class="caja cajaViewModel"> 

  <h1 class="text-danger">COMPONENTE VIEWMODEL</h1>
  <h2 class="text-success">Informaci&oacute;n del Alumno </h2>

  <hr>

  <!-- muestro los datos del alumno  ( interpolacion en el caso de  objetos ) --> 

  <p class="text-info">Id : {{ alumno1.id}}</p>
  <p class="text-info">Nombre : {{ alumno1.nombre}}</p>
  <p class="text-info">Apellidos : {{ alumno1.apellidos}}</p>
  <p class="text-info">Ciudad : {{ alumno1.ciudad}}</p>  
    
</div> 
